{% extends '/filter_layout.html' %}
{% block title %}LINKEDIN INVESTORS{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/virtual-select-master/virtual-select.min.css" />
{% endblock %}

<!-- Breadcrumb Options -->
<!-- Signal Breadcrumb -->
{% block bCrumbSignalAnchor %}<a href="/signal_investors">Signal</a>{% endblock %}</li>
<!-- LinkedIn Breadcrumb -->
{% block bCrumbLinkedInActive %}active{% endblock %}
{% block bCrumbLinkedInCurrent %}aria-current="page"{% endblock %}
{% block bCrumbLinkedInAnchor %}LinkedIn{% endblock %}


{% block filtersCanvasBody %}
        <form class="row gy-2 gx-3 align-items-center">
            <h3>All filters are still in progress (not accurate)</h3>
            
            <div class="col-auto">
                <h6>Sweet Spot</h6>
                <div class="row">
                    <div class="col">
                        <label for="min-sweet-spot" class="form-label">Min</label>
                        <input type="number" class="form-control" min="0" max="99999999" step="1" id="min-sweet-spot" onchange="handleMinSweet()" >
                    </div>
                    <div class="col">
                        <label for="max-sweet-spot" class="form-label">Max</label>
                        <input type="number" class="form-control" min="0" max="99999999" step="1" id="max-sweet-spot" onchange="handleMaxSweet()" >
                    </div>
                </div>
            </div>
            <hr>
            
            <div class="col-12" >
                <label for="position-select" class="col-12 form-label h6">Position</label>
                <div id="position-select"></div>
            </div>
            <hr>

                
            <div class="col-12" >
                <label for="new-stage-select" class="col-12 form-label h6">Stage</label>
                <p>Match any of the selected options</p>
                <div id="new-stage-select"></div>
            </div>
            <hr>

            
            <div class="col-12">
                <label for="stage-select" class="col-12 form-label h6">Is on these SECTOR & STAGE RANKINGS</label>
                <p>Match any of the selected options</p>
                
                <div id="stage-select"></div>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="stage-all-check" onchange="handleStageMatchAll()">
                <label class="form-check-label" for="stage-all-check">Match All selected options</label>
            </div>
            <hr>
            <div class="mb-3">
                <label for="searchProfileName" class="form-label">Profile Name</label>
                <input type="text" class="form-control searchInput" id="searchProfileName" placeholder="Search..." autocomplete="off" oninput="handleSearchProflieName()">
                <p class="mx-1 p-2 d-none searchSugg">0 Matches</p>
            </div>
            <hr>
            <div class="col-auto">
                <h6>Investor connections amount (still under developement not functional)</h6>
                <div class="row">
                    <div class="col">
                        <label for="min-invs-connect" class="form-label">Min</label>
                        <input type="number" class="form-control" min="0" max="99999" step="1" id="min-invs-connect" onchange="handleMinInvCon()" >
                    </div>
                    <div class="col">
                        <label for="max-invs-connect" class="form-label">Max</label>
                        <input type="number" class="form-control" min="0" max="99999" step="1" id="max-invs-connect" onchange="handleMaxInvCon()" >
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-auto">
                <h6>Investment Amount</h6>
                <div class="row">
                    <div class="col">
                        <label for="min-investment" class="form-label">Min</label>
                        <div class="input-group has-validation">
                            <input type="number" class="form-control" min="0" max="1000000000" step="1000" id="min-investment" onchange="handleMinInvest()">
                            <div class="invalid-feedback">
                                Please Add a Value Here!
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="max-investment" class="form-label">Max</label>
                        <div class="input-group has-validation">
                            <input type="number" class="form-control" min="0" max="1000000000" step="1000" id="max-investment" onchange="handleMaxInvest()">
                            <div class="invalid-feedback">
                                Please Add a Value Here!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
{% endblock %}

{% block excluded_count %}
    <small id="excluded_count" class="text-danger"></small>
{% endblock %}

{% block filtersResultsRow %}
    <ul class="list-group-flush" id="inv_list"></ul>
{% endblock %}

{% block js %}
    <script src="/static/virtual-select-master/virtual-select.min.js"></script>
    <script>
        // Get linkedin_inv data function
        var blank_linkedin_query = {
            min_sweet_spot: "",
            max_sweet_spot: "",
            position:"",
            newstage: [],
            stage: [],
            stage_match_all: false,
            profile_name: "",
            min_invs_connect: "",
            max_invs_connect: "",
            min_investment: "",
            max_investment: "",
        };

        var linkedin_query = {{ linkedin_query | tojson }} || blank_linkedin_query;

    </script>
    <script src="/static/js/linkedin_inv.js"></script>
{% endblock %}
